/* common */

* {
  font-family: 'Inter', sans-serif;
}

section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    overflow: hidden;
}
.container section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.btn,
.submit-btn {
  background-color: #322728;
  transition: all 0.25s ease;
}

.btn:hover,
.submit-btn:hover {
  transform: scale(1.05);
}

/* header and hero section */
.header-hld {
  padding: 8px;
  margin: 0px;
  padding-left: 25px;
}

.logo img {
  width: 84px;
  height: 54px;
}

.responsive-h1 {
  font-size: clamp(2.5rem, 8vw, 4rem);
}

.nav-link {
  font-weight: 500;
  color: #262626 !important;
  padding: 0.5rem 1rem !important;
}

.navbar-nav .nav-link:hover {
  color: #F57148 !important;
  transition: color 0.3s ease;
}

.section-two .btn {
  color: #F8F7F3;
}

/* hero css */
.img-fluid {
  width: 6vw;
  min-width: 34px;
  max-width: 90px;
}

.hero-hld {
  padding-top: 7rem;
}


/* services holder */
.services-hld {
  background: url('../assets/section1/line.png') 10% top / 54% 110% no-repeat;
}

/* carousel */
.food-card {
  text-align: center;
  background: transparent;
  box-shadow: none;
  padding: 0 10px;
}

.img-wrap {
  margin: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-wrap img {
  width: 130px;
  height: auto;
}

.food-card h6 {
  margin-top: 18px;
  font-weight: 700;
  font-size: 14px;
}

.food-card p {
  font-size: 12px;
  color: #777;
  line-height: 1.4;
  max-width: 180px;
  margin: auto;
  text-align: left;
}

/* carousel controls */
.carousel-controls {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* ARROWS */

.custom-prev,
.custom-next {
  font-size: 28px;
  cursor: pointer;
  transition: .3s ease;
  line-height: 1;
}

/* Hover animation */

.custom-prev:hover,
.custom-next:hover {
  transform: translateX(6px);
  color: #f57148;
}

.custom-prev:hover {
  transform: translateX(-6px);
}

/* PAGINATION STYLE */

.swiper-pagination {
  position: static !important;
  font-size: 18px;
  font-weight: 500;
  margin: 0 !important;
}

.swiper-pagination-horizontal {
  width: auto !important;
}

.swiper-pagination-current {
  font-size: 28px;
  font-weight: 600;
}

.swiper-pagination-total {
  opacity: .4;
}

/* section three */
.section-three {
  background: url('../assets/section3/line.png') 0% top / 31% 50% no-repeat;
}
.shape-black {
    position: absolute;
    top: 1%;
    left: 20%;
    width: 18%;
    transform: rotate(-5deg);
    z-index: 0;
    height: auto;
    pointer-events: none;
}
.line2 {
    position: absolute;
    top: 10%;
    right: 15%;
    width: 55%;
    z-index: -2;
    height: auto;
    pointer-events: none;
}
.shape-backdrop {
    position: absolute;
    bottom: -2px;
    right: 4%;
    transform: rotate(6deg);
    z-index: -1;
    width: 75%;
    height: auto;
    pointer-events: none;
}
.shape-green-backdrop {
    position: absolute;
    bottom: -2px;
    right: 6%;
    transform: rotate(-1deg);
    z-index: -3;
    width: 65%;
    height: auto;
    pointer-events: none;
}
.chef-img {
    position: relative;
    z-index: 1;
}
.get-50-badge {
    position: absolute;
    top: 40%; 
    left: -37%;
    width: 90%;
    z-index: 2;
    pointer-events: none;
}


/* footer */

footer {
  padding: 80px 0 40px;
  color: #444;
}

.footer-header {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
}

.footer-header::after {
  content: "";
  display: block;
  width: 35px;
  height: 2px;
  background-color: #999;
  margin-top: 10px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 12px;
}

.footer-links a {
  text-decoration: none;
  color: #555;
  font-size: 0.95rem;
  transition: color 0.2s;
}

.footer-links a:hover {
  color: #000;
}

.about-text {
  max-width: 250px;
  font-size: 0.95rem;
  color: #555;
}

.contact-form input,
.contact-form textarea {
  border: none;
  border-radius: 0;
  padding: 15px 0;
  margin-bottom: 15px;
  font-size: 0.95rem;
  background-color: transparent;
}

.submit-btn {
  background-color: #312a2a;
  color: #fff;
  border: none;
  padding: 14px 45px;
  border-radius: 6px;
  font-size: 1.1rem;
  float: right;
  margin-top: 20px;
}

footer .row {
  padding: 2rem 2rem 2rem 2rem;
}

.legal-footer {
  margin-top: 0px;
  padding-top: 0PX;
}

.legal-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding: 0;
}

.legal-links a {
  text-decoration: none;
  color: #666;
  font-size: 0.9rem;
}

.contact-form .form-control {
  border: none;
  border-radius: 0;
  padding: 10px 0;
  background-color: transparent;
}

.contact-form .form-control:focus {
  box-shadow: none;
  border-bottom: 1px solid #f47524;
}

/* media queries */
@media (max-width: 991px) {
  .navbar-collapse {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    margin-top: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  }
}

@media(min-width: 771px) {
  .hero-hld {
    padding-top: 7rem;
    padding-bottom: 10rem;
  }
}

@media (max-width: 767px) {
  .hero-hld article h1 {
    font-size: 2.2rem;
  }

  .hero-hld p {
    font-size: 12px;
  }

  .footer-header {
    padding-top: 2rem;
  }
}

@media (max-width: 489px) {
  .contact-form {
    padding: 0 15px;
  }

  .submit-btn {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}